<%= stylesheet_link_tag "signup" %>
<%= render 'shared/user_navbar' %>

<div class="edit-form-container">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'signup-body-form', multipart: true }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class='signup-form-col'>
      <div class='signup-form-two'>
        <%= f.label :first_name, "First Name*", class: 'signup-body-form-label' %>
        <%= f.text_field :first_name, autocomplete: "first-name", required: true, class: 'signup-body-form-field' %>
      </div>

      <div class='signup-form-two'>
        <%= f.label :last_name, "Last Name*", class: 'signup-body-form-label' %>
        <%= f.text_field :last_name, autocomplete: "last-name", required: true, class: 'signup-body-form-field' %>
      </div>
    </div>

    <div class='signup-form-col'>
      <div class='signup-form-two'>
        <%= f.label :email, "Email*", class: 'signup-body-form-label' %>
        <%= f.email_field :email, autocomplete: "email", required: true, class: 'signup-body-form-field' %>
      </div>
    </div>

    <div class='signup-form-col'>
      <div class='signup-form-two'>
        <%= f.label :phone_number, "Phone Number*", class: 'signup-body-form-label' %>
        <%= f.text_field :phone_number, autocomplete: "phone-number", required: true, class: 'signup-body-form-field' %>
      </div>
    </div>

    <div class='signup-form-col'>
      <div class='signup-form-two'>
        <div class='signup-label-flex'>
          <%= f.label :password, "Password*", class: 'signup-body-form-label' %>
          <% if @minimum_password_length %>
            <em class='signup-password-minimum'>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: 'signup-body-form-field' %>
      </div>
      <div class='signup-form-two'>
        <%= f.label :password_confirmation, "Confirm Password*", class: 'signup-body-form-label' %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'signup-body-form-field' %>
      </div>
    </div>

    <div class='signup-form-col'>
      <div class='signup-form-two'>
        <%= f.label :current_password, "Current Password*", class: 'signup-body-form-label' %>
        <%= f.password_field :current_password, autocomplete: "current-password", required: true, class: 'signup-body-form-field' %>
      </div>
    </div>

    <!-- Additional fields for talent -->
    <% if current_user.role.role_name == "talent" %>
      <div class='signup-form-talent'>
        <div class='signup-form-row'>
          <%= f.label :resume, "Resume", class: 'signup-body-form-label' %>
          <%= f.file_field :resume, class: 'signup-body-form-field' %>
        </div>

        <div class='signup-form-row'>
          <%= f.label :skills, "Skills", class: 'signup-body-form-label' %>
          <%= f.text_area :skills, class: 'signup-body-form-field' %>
        </div>

        <div class='signup-form-row'>
          <%= f.label :experience, "Experience", class: 'signup-body-form-label' %>
          <%= f.text_area :experience, class: 'signup-body-form-field' %>
        </div>

        <div class='signup-form-row'>
          <%= f.label :education, "Education", class: 'signup-body-form-label' %>
          <%= f.text_area :education, class: 'signup-body-form-field' %>
        </div>
      </div>
    <% end %>

    <div class='signup-form-col'>
      <div class='signup-form-button'>
        <%= f.submit "Update", class: 'sign-body-form-submit' %>
      </div>
    </div>
  <% end %>

  <h3>Cancel my account</h3>

  <div>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %></div>

  <%= link_to "Back", :back, class: "btn btn-secondary" %>
</div>
