<div class="flex flex-col min-h-screen w-full">
  <div class="my-20 overflow-y-auto">
    <div class="px-5 py-5 max-w-4xl mx-auto bg-white rounded-lg shadow-md">
      <h2 class="text-3xl font-bold mb-6 text-gray-800">Edit <%= resource_name.to_s.humanize %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'space-y-6', multipart: true }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class='flex flex-col md:flex-row md:space-x-4'>
          <div class='flex flex-col w-full'>
            <%= f.label :first_name, "First Name*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
            <%= f.text_field :first_name, autocomplete: "first-name", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>

          <div class='flex flex-col w-full'>
            <%= f.label :last_name, "Last Name*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
            <%= f.text_field :last_name, autocomplete: "last-name", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
        </div>

        <div class='flex flex-col'>
          <%= f.label :email, "Email*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= f.email_field :email, autocomplete: "email", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
        </div>

        <div class='flex flex-col'>
          <%= f.label :phone_number, "Phone Number*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= f.text_field :phone_number, autocomplete: "phone-number", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
        </div>

        <div class='flex flex-col md:flex-row md:space-x-4'>
          <div class='flex flex-col w-full'>
            <div class='flex items-baseline justify-between'>
              <%= f.label :password, "Password*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <% if @minimum_password_length %>
                <em class='text-xs text-gray-500'>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %>
            </div>
            <%= f.password_field :password, autocomplete: "new-password", class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
          <div class='flex flex-col w-full'>
            <%= f.label :password_confirmation, "Confirm Password*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
          </div>
        </div>

        <div class='flex flex-col'>
          <%= f.label :current_password, "Current Password*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= f.password_field :current_password, autocomplete: "current-password", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
        </div>

        <!-- Photo  -->
        <div class='flex flex-col'>
          <%= f.label :photo, "Profile Photo", class: 'block text-sm font-medium text-gray-700 mb-1' %>
          <%= f.file_field :photo, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
        </div>

        <!-- Talent Specific  -->
        <% if current_user.role.role_name == "talent" %>
          <div class='space-y-6'>
            <div class='flex flex-col'>
              <%= f.label :professional_title, "Professional Title*", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <%= f.text_field :professional_title, autocomplete: "professional-title", required: true, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>

            <div class='flex flex-col'>
              <%= f.label :resume, "Resume", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <%= f.file_field :resume, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>

            <div class='flex flex-col'>
              <%= f.label :skills, "Skills", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <%= f.text_area :skills, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>

            <div class='flex flex-col'>
              <%= f.label :experience, "Experience", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <%= f.text_area :experience, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>

            <div class='flex flex-col'>
              <%= f.label :education, "Education", class: 'block text-sm font-medium text-gray-700 mb-1' %>
              <%= f.text_area :education, class: 'mt-1 block w-full p-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm' %>
            </div>
          </div>
        <% end %>

        <div class='flex justify-end'>
          <%= f.submit "Update", class: 'bg-blue-500 text-white font-bold py-2 px-4 rounded hover:bg-blue-600' %>
        </div>
      <% end %>
      <div class="mt-2">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "bg-red-500 text-white font-bold py-2 px-4 rounded hover:bg-red-600" %>
      </div>

      <div class="mt-4">
        <%= link_to "Back", :back, class: "text-blue-500 hover:underline" %>
      </div>
    </div>
  </div>
</div>
