<%= stylesheet_link_tag "signup" %>

<%= render 'shared/home_navbar' %>

<div class="signup-main-container">
  <div class='signup-body-container'>
    <div class='signup-body-content'>

      <div class='signup-form-options'>
        <button class='sign-up-options-button orange' id="talent" onclick="handleTalentButtonOnClick()">Apply as Talent</button>
        <button class='sign-up-options-button' id='client' onclick="handleClientButtonOnClick()">Apply as Client</button>
      </div>

      <div class='signup-body-divider'></div>

      <div class='signup-body-title' id='talent-title'>
        <h2>Sign up to find work you love.</h2>
      </div>

      <div class='signup-body-form-container' id="talent-registration">
        <%= render 'shared/talent_registration' %>
      </div>

      <div class='signup-body-title hidden' id='client-title'>
        <h2>Sign up to hire talent.</h2>
      </div>

      <div class='signup-body-form-container hidden' id="client-registration">
        <%= render 'shared/client_registration' %>
      </div>

      <div class='signup-body-divider'></div>

      <div class='signup-redirect-buttons-container'>
        <div class='signup-redirect-content'>
          <div class='signup-redirect-buttons'>
            <%= button_to "Login", new_session_path(resource), method: :get, class: "signup-redirect-login" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var clientButton = document.getElementById('client');
  var talentButton = document.getElementById('talent');
  var talentRegistration = document.getElementById('talent-registration');
  var talentTitle = document.getElementById('talent-title');
  var clientRegistration = document.getElementById('client-registration');
  var clientTitle = document.getElementById('client-title');

  var handleClientButtonOnClick = () => {
    talentRegistration.style.display = 'none';
    talentTitle.style.display = 'none';
    clientTitle.style.display = 'block';
    clientRegistration.style.display = 'block';
    clientButton.style.color = '#FF8000';
    talentButton.style.color = '#000000';
  }

  var handleTalentButtonOnClick = () => {
    talentRegistration.style.display = 'block';
    talentTitle.style.display = 'block';
    clientTitle.style.display = 'none';
    clientRegistration.style.display = 'none';
    clientButton.style.color = '#000000';
    talentButton.style.color = '#FF8000';
  }
</script>

