<div class="flex flex-col min-h-screen w-full">
	<div class="h-full w-full pt-20">
		<div class='pb-5'>
			<p class = 'font-bold text-lg'><%= @receiver_info.first_name %> <%= @receiver_info.last_name %></p>

			<%= form_with(model: @message, url: message_index_path) do |form| %>
				<div class="field">
					<%= form.text_area :content %>
				</div>

				<%= form.hidden_field :message_receiver_id, value: @message_receiver %>

				<div class="actions">
					<%= form.submit %>
				</div>
			<% end %>
		</div>
	</div>
</div>

