<%= stylesheet_link_tag "user_navbar" %>

<div class='user-navbar-main-container'>
    <div class='user-navbar-body-container'>
        <div class='user-navbar-title-container'>
            <%= image_tag('user_navbar_logo.png', alt: 'Your Logo', class: 'user-navbar-logo') %>
        </div>

        <div class='user-navbar-main-menu-container'>
            <div class='user-navbar-main-menu-title'>
                <p>MAIN MENU</p>
            </div>

            <div class='user-navbar-main-menu-options'>
                <%= link_to dashboard_path, class: 'user-navbar-main-menu-link' do %>
                    <i class="fas fa-table-cells-large"></i>
                    <p class='user-navbar-link-label'>Dashboard</p>
                <% end %>

                <% if current_user.role.role_name == 'owner' %>
                    <%= link_to job_listings_path, class: 'user-navbar-main-menu-link' do %>
                        <i class="fas fa-list"></i>
                        <p class='user-navbar-link-label'>Job Listings</p>
                    <% end %>
                <% else %>
                    <%= link_to browse_job_listings_path, class: 'user-navbar-main-menu-link' do %>
                        <i class="fas fa-list"></i>
                        <p class='user-navbar-link-label'>Browse Job Listings</p>
                    <% end %>
                <% end %>
                
                <% if current_user.role.role_name == "talent" %>
                    <%= link_to applied_jobs_path, class: 'user-navbar-main-menu-link' do %>
                        <i class="fas fa-list-check"></i>
                        <p class='user-navbar-link-label'>Applied Jobs</p>
                    <% end %>
                <% else %>
                    <%= link_to applied_jobs_path, class: 'user-navbar-main-menu-link' do %>
                        <i class="fas fa-list-check"></i>
                        <p class='user-navbar-link-label'>Applicants</p>
                    <% end %>
                <% end %>

                <%= link_to dashboard_path, class: 'user-navbar-main-menu-link' do %>
                    <i class="far fa-handshake"></i>
                    <p class='user-navbar-link-label'>Transactions</p>
                <% end %>

                <%= link_to dashboard_path, class: 'user-navbar-main-menu-link' do %>
                    <i class="fas fa-magnifying-glass"></i>
                    <p class='user-navbar-link-label'>Reviews</p>
                <% end %>

                <%= link_to dashboard_path, class: 'user-navbar-main-menu-link' do %>
                    <i class="fas fa-message"></i>
                    <p class='user-navbar-link-label'>Messages</p>
                <% end %>

                <%= link_to profile_path(current_user), class: 'user-navbar-main-menu-link' do %>
                    <i class="fas fa-user"></i>
                    <p class='user-navbar-link-label'>View Your Profile</p>
                <% end %>
            </div>

            <div class='user-navbar-main-menu-title'>
                <p>PREFERENCES</p>
            </div>

            <div class='user-navbar-main-menu-options'>
                <%= link_to dashboard_path, class: 'user-navbar-main-menu-link' do %>
                    <i class="fas fa-gears"></i>
                    <p class='user-navbar-link-label'>Settings</p>
                <% end %>
            </div>
        </div>

        <div class='user-navbar-footer-container'>
           <div class='user-navbar-footer-avatar-container'>
                <i class="fas fa-user-tie user-navbar-avatar"></i>
           </div>
           <div class='user-navbar-footer-info-container'>
                <p class='user-navbar-footer-name'><%= current_user.first_name %> <%= current_user.last_name %></p>
                <p class='user-navbar-footer-email'><%= current_user.email %></p>
           </div>
           <div class='user-navbar-footer-logout-container'>
                <%= button_to destroy_user_session_path, method: :delete, class: "user-navbar-footer-logout-button" do %>
                    <i class="fas fa-sign-out-alt"></i>
                <% end %>
            </div>
        </div>
    </div>
</div>
