<%= stylesheet_link_tag "dashboard" %>

<div class="flex h-screen" style="width: calc(100% - 16rem);">
  <div class="overflow-y-auto px-8 pt-14 hide-scrollbar">
    <div class="mt-8">
      <div class='dashboard-main-overview'>
        <h3 class="text-3xl font-bold text-black">Overview</h3>
        <p class="text-stronggray">Overview of your job listings and applications.</p>
      </div>
      <div class='dashboard-main-numbers-container'>
        <div class='dashboard-main-number-card'>
          <div class='dashboard-card-title'>
            <div class='dashboard-card-icon-container'>
              <i class="fa-solid fa-kitchen-set icon"></i>
            </div>
            <div class='dashboard-card-icon'>
              <p><%= @job_listings.count %> Job Listings</p>
            </div>
          </div>
          <div>
            <p class='dashboard-card-details'>There are <%= @job_listings.count %> job listings available.</p>
          </div>
        </div>

        <div class='dashboard-main-number-card'>
          <div class='dashboard-card-title'>
            <div class='dashboard-card-icon-container1'>
              <i class="fa-solid fa-envelope-circle-check icon"></i>
            </div>
            <div class='dashboard-card-icon'>
              <p><%= @applications.count %> Applications</p>
            </div>
          </div>
          <div>
            <p class='dashboard-card-details'>There are <%= @applications.count %> applications received.</p>
          </div>
        </div>

        <div class='dashboard-main-number-card'>
          <div class='dashboard-card-title'>
            <div class='dashboard-card-icon-container2'>
              <i class="fa-solid fa-circle-check icon"></i>
            </div>
            <div class='dashboard-card-icon'>
              <p><%= @jobs_done.count %> Jobs Done</p>
            </div>
          </div>
          <div>
            <p class='dashboard-card-details'>There are <%= @jobs_done.count %> jobs completed.</p>
          </div>
        </div>
      </div>
      <div class='dashboard-main-newest-container'>
        <div class='dashboard-main-newest'>
          <h2>Your Newest Job Listings</h2>
          <p class="text-gray-600">Here are the newest job listings that you created.</p>
        </div>
        <div class='dashboard-newest-body'>
          <% @job_lisitng.each do |job| %>
              <div class = 'dashboard-newest-card'>
                  <div class = 'dashboard-card-date-container'>
                      <p class='dashboard-card-date'><%= job.created_at.strftime("%B %d, %Y %I:%M %p") %></p>
                  </div>
                  <div class = 'dashboard-card-info-container'>
                      <div class='dashboard-card-title-container'>
                          <p class='dashboard-card-title'><%= job.title %></p>
                          <p class='dashboard-card-salary'><%= number_to_currency(job.salary, unit: "₱", precision: 2) %></p>
                      </div>
                      <div class='dashboard-card-definition-container'>
                          <p class='dashboard-card-definition'><%= job.description %></p>
                      </div>
                  </div>
                  <div class = 'dashboard-buttons-container'>
                    <%= link_to 'View', job_listing_path(job), class: "dashboard-button" %>
                  </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>