<%= stylesheet_link_tag "job_listing" %>

<div class='job-listing-main-container'>
    <div class='job-listing-main-body'>
        <h1>Received Reviews</h1>
        <div class='job-cards'>
            <% @reviews_received.each do |review_received| %>
                <div class='job-card'>
                    <div class='job-card-header'>
                        <h2><%= review_received.title %></h2>
                        <span class='job-card-date'><%= review_received.created_at.strftime("%d %b, %Y") %></span>
                    </div>
                    <div class='job-card-description'>
                        <p><%= review_received.content %></p>
                    </div>
                    <div class='job-card-links'>
                        <%= link_to 'View', dashboard_path, class: 'btn btn-primary btn-spacing' %>
                    </div>

                </div>
            <% end %>
        </div>


        <h1>Sent Reviews</h1>
        <div class='job-cards'>
            <% @reviews_sent.each do |reviews_sent| %>
                <div class='job-card'>
                    <div class='job-card-header'>
                        <h2><%= reviews_sent.title %></h2>
                        <span class='job-card-date'><%= reviews_sent.created_at.strftime("%d %b, %Y") %></span>
                    </div>
                    <div class='job-card-description'>
                        <p><%= reviews_sent.content %></p>
                        <p>Job Listing Title: <%= reviews_sent.job_listing.title %></p>
                    </div>
                    <div class='job-card-links'>
                        <%= link_to 'View Job Listing', job_listing_path(reviews_sent.job_listing.id), class: 'btn btn-primary btn-spacing' %>
                        <%= link_to 'Edit Review',   edit_job_listing_review_path(reviews_sent.job_listing.id, reviews_sent.id), class: 'btn btn-primary btn-spacing' %>
                        <%= button_to 'Delete Review', job_listing_review_path(reviews_sent.job_listing.id, reviews_sent.id), method: :delete, class: 'btn btn-primary btn-spacing', data: { confirm: 'Are you sure you want to delete this review?' } %>
                    </div>

                </div>
            <% end %>
        </div>
    </div>
</div>
