<%= stylesheet_link_tag "job_listing" %>

<div class="container">
  <h1>Applicants for <%= @job_listing.title %></h1>

  <% if @applicants.any? %>
    <table class="applicants-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Application Time</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @applicants.each do |applied_job| %>
          <tr>
            <td>
              <%= link_to "#{applied_job.talent.first_name} #{applied_job.talent.last_name}", profile_path(applied_job.talent.id), class: 'profile-link' %>
            </td>
            <td><%= applied_job.talent.email %></td>
            <td><%= applied_job.created_at %></td>
            <td><%= applied_job.status.present? ? applied_job.status.capitalize : 'Pending' %></td>
            <td>
              <% if applied_job.status != 'confirmed' %>
                <%= link_to 'Confirm',  confirm_applicant_job_listing_path(job_listing_id: @job_listing.id, applicant_id: applied_job.id),  method: :patch, class: 'action-link' %>
              <% end %>
              <% if applied_job.status != 'confirmed' %>
                <%= link_to 'Reject', reject_applicant_job_listing_path(@job_listing, applicant_id: applied_job.id), method: :patch, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
              <% end %>
              <% if applied_job.status == 'confirmed' %>
                <%= link_to 'Send Payment', new_payment_path(job_listing_id: @job_listing.id, applicant_id: applied_job.talent_id), method: :get, data: { confirm: 'Are you sure?' }, class: 'action-link' %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p>No applicants found.</p>
  <% end %>

  <div class="actions">
    <%= link_to 'Back to Job Listings', job_listings_path, class: 'back-link' %>
  </div>
</div>
