<div class="flex flex-col h-full w-full">
    <div class="my-20 overflow-y-auto">
        <div class="px-5 py-5">
            <h1 class="text-4xl text-gray-800 mb-5">Browse Job Listings</h1>
            <div class="space-y-5">
                <% if @job_listings.any? %>
                    <% @job_listings.each do |job_listing| %>
                        <div class="bg-lightorange p-5 rounded-lg shadow-lg transition transform hover:-translate-y-1 hover:shadow-2xl">
                            <div class="flex justify-between items-center mb-2">
                                <h2 class="text-2xl font-bold"><%= job_listing.title %></h2>
                                <span class="text-sm text-gray-600"><%= job_listing.created_at.strftime("%d %b, %Y") %></span>
                            </div>
                            <p class="text-xl text-orange-600 mb-2">Salary per month: <%= job_listing.salary %></p>
                            <div class="mb-4">
                                <p class="text-gray-700"><%= job_listing.description %></p>
                            </div>
                            <div class="flex space-x-4">
                                <%= link_to 'View', job_listing_path(job_listing), class: 'bg-orange-500 text-white font-bold py-2 px-4 rounded' %>
                                <% if current_user.role.role_name == 'talent' %>
                                    <%= button_to 'Apply', apply_applied_jobs_path(job_listing_id: job_listing.id), method: :post, class: 'bg-orange-500 text-white font-bold py-2 px-4 rounded' %>
                                <% end %>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <p class="text-gray-500">No job listings found.</p>
                <% end %>
            </div>
        </div>
    </div>
</div>
