<%= stylesheet_link_tag "job_listing" %>


<div class='job-listing-main-container'>
    <div class='job-listing-main-body'>
        <h1>Your Job Listings</h1>
        <div class='job-listing-actions'>
            <%= link_to 'Post a job!', new_job_listing_path, class: 'btn btn-primary' %>
        </div>
        <div class='job-cards'>
            <% @job_listings.each do |job_listing| %>
                <div class='job-card'>
                    <div class='job-card-header'>
                        <h2><%= job_listing.title %></h2>
                        <span class='job-card-date'><%= job_listing.created_at.strftime("%d %b, %Y") %></span>
                    </div>
                    <p class='job-card-salary'>Salary per month: <%= job_listing.salary %></p>
                    <div class='job-card-description'>
                        <p><%= job_listing.description %></p>
                    </div>
                    <div class='job-card-links'>
                        <%= link_to 'View', job_listing_path(job_listing), class: 'btn btn-primary btn-spacing' %>
                        
                        <% if current_user.role.role_name == 'owner' && job_listing.status == 'pending' %>
                            <%= link_to 'Applicants', applicants_job_listing_path(job_listing), class: 'btn btn-primary btn-spacing' %>
                        <% end %>
                        
                        <% assigned_applied_job = job_listing.applied_jobs.find_by(status: 'confirmed') %>
                        
                        <% if assigned_applied_job %>
                            <% if job_listing.salary != assigned_applied_job.balance %>
                            <% if job_listing.status == 'assigned' %>
                                <%= link_to 'Mark as Completed', new_complete_payments_path(job_listing_id: job_listing.id, applicant_id: assigned_applied_job.talent_id), class: 'btn btn-primary btn-spacing' %>
                            <% end %>
                            <% else %>
                            <% if job_listing.status == 'assigned' %>
                                <%= link_to 'Send a Downpayment', new_payment_path(job_listing_id: job_listing.id, applicant_id: assigned_applied_job.talent_id), class: 'btn btn-primary btn-spacing' %>
                            <% end %>
                            <% end %>

                            <% if job_listing.status == 'completed' && job_listing.review == nil %>
                                <%= link_to 'Make a Review', new_job_listing_review_path(job_listing_id: job_listing.id), class: 'btn btn-primary btn-spacing' %>
                            <% end %>
                        <% end %>
                    </div>

                </div>
            <% end %>
        </div>
    </div>
</div>
