<%= stylesheet_link_tag "job_listing" %>

<%= render 'shared/user_navbar' %>

<div class="container">
    <div class="job-details">
        <h1><%= @job_listing.title %></h1>
        <p><%= @job_listing.description %></p>
        <p class="salary">Salary: <%= @job_listing.salary %></p>
        <div class="actions">
            <%= link_to 'Edit', edit_job_listing_path(@job_listing) %> |
            <%= link_to 'Back', job_listings_path %>
        </div>
    </div>
</div>
