<div class = 'w-full h-screen'>
    <div class = 'w-full h-full pl-64 pt-20 flex'>
        <div class = 'w-full px-3 pb-3 flex gap-2'>
            <div class = 'w-3/4 h-full flex flex-col gap-2'> 
                <div class = 'w-full bg-white rounded-lg drop-shadow p-5'>
                    <p class = 'text-lg font-bold'>Job Listing Information: </p>

                    <p class = 'py-2 text-2xl font-semibold underline'><%=  @job_listing.title %></p>
                    <p class = 'py-2'><b>Description:</b> <%=  @job_listing.description %></p>
                    <p class = 'py-2'><b>Requirements:</b> <%=  @job_listing.requirements %></p>
                    <p class = 'pt-2'><b>Salary:</b> ₱ <%= number_with_precision(@job_listing.salary, precision: 2) %></p>
                </div>

                <div class = 'w-full flex justify-center'>
                    <div class='w-6'>
                        <svg class="rotate-90" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path fill='#22331D' d="M32 96l320 0V32c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6V160L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32H160v64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64H480z"/>
                        </svg>
                    </div>
                </div>

                <div class = 'w-full bg-white rounded-lg drop-shadow p-5'>
                    <p class = 'text-lg font-bold'>Applicant Information: </p>

                    <p class = 'py-2 text-2xl font-semibold underline'><%=  @applied_job.talent.first_name %> <%=  @applied_job.talent.last_name %></p>
                    <p class = 'py-2'><b>Description:</b> <%=  @job_listing.description %></p>
                    <p class = 'py-2'><b>Requirements:</b> <%=  @job_listing.requirements %></p>
                    <p class = 'pt-2'><b>Salary:</b> ₱ <%= number_with_precision(@job_listing.salary, precision: 2) %></p>
                </div>

            </div>
            <div class = 'w-1/4 h-full bg-blue-200'> dsads</div>
        </div>
    </div>
</div>

