<div class="mt-8">
    <div>
        <%= render 'admin_nav' %>
    </div>

    <% if @users.present? %>
        <div class="relative overflow-x-auto bg-white shadow-md sm:rounded-lg p-2">
            <table class="w-full text-sm text-left rtl:text-right text-black">
                <thead class="bg-linen text-xs uppercase">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            ID
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Contact
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Email
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr class="bg-white">
                            <th scope="row" class="px-6 py-4 font-medium whitespace-nowrap">
                                <%= user.id %>
                            </th>
                            <td class="px-6 py-4">
                                <%= link_to "#{user.first_name} #{user.last_name}", admin_user_path(user.id) %>
                            </td>
                            <td class="px-6 py-4">
                                <%= user.phone_number %>
                            </td>
                            <td class="px-6 py-4">
                                <%= user.email %>
                            </td>
                            <td class="px-6 py-4">
                                <%= link_to edit_admin_user_path(user) do %>
                                    <i></i>
                                    <span>Edit</span>
                                <% end %> 
                            </td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    <% else %>
        <div class="flex justify-center items-center">
            <p class="mt-4 text-gray-500 italic text-center">
                "Looks like this space is as empty as a freshly cleaned plate! No records found here."
            </p>
        </div>
    <% end %>
</div>