<div class="m-auto flex justify-center items-center p-2 ">
    <%= form_for @user, url: admin_user_path(@user), method: :patch do |f| %>
        <div class="grid gap-6 mb-6 md:grid-cols-2">
            <div>
                <%= f.label :first_name, class: "block mb-2 text-sm font-medium text-gray-900" %>
                <%= f.text_field :first_name, autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkorange focus:border-darkorange block w-full p-2.5", placeholder: "Juan", required: true  %>
            </div>

            <div>
                <%= f.label :last_name, class: "block mb-2 text-sm font-medium text-gray-900"%>
                <%= f.text_field :last_name, autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkorange focus:border-darkorange block w-full p-2.5", placeholder: "dela Cruz", required: true  %>
            </div>

            <div>
                <%= f.label :email, class: "block mb-2 text-sm font-medium text-gray-900"%>
                <%= f.text_field :email, autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkorange focus:border-darkorange block w-full p-2.5", placeholder: "juandelacruz@email.com", required: true  %>
            </div>

            <div>
                <%= f.label :phone_number, class: "block mb-2 text-sm font-medium text-gray-900"%>
                <%= f.text_field :phone_number, autocomplete: "off", class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkorange focus:border-darkorange block w-full p-2.5", placeholder: "09123456789", required: true  %>
            </div>
        </div>

        <div class="mb-6">
            <%= f.label :role_id, class: "block mb-2 text-sm font-medium text-gray-900" %>
            <%= f.select :role_id, options_for_select(Role.where.not(role_name: 'admin').map{ |r| [r.role_name, r.id] }, @user.role_id), {}, class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkorange focus:border-darkorange block w-full p-2.5 ", placeholder: "Choose a role", required: true   %>
        </div>

        <div class="flex items-center justify-between">
            <%= f.submit "Update", class: "text-white bg-darkorange hover:bg-mediumorange focus:ring-4 focus:outline-none focus:ring-darkorange font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" %>
        </div>
    <% end %>
</div>
