<!DOCTYPE html>
<html>
  <head>
    <title>KitchenNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-linen h-screen overflow-hidden relative">
    <main class="flex h-full">
      <%= render partial: 'shared/sidebar' %>
      <%= yield %>
    </main>

    <%= render partial: 'shared/notifications' %>
  </body>
</html>
