<!DOCTYPE html>
<html>
  <head>
    <title>KitchenNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to 'Home', root_path %>
    <% if current_user %>
      <% if current_user.role.role_name == 'talent' %>
        <%= link_to 'Browse Job Listings', browse_job_listings_path %>
      <% elsif current_user.role.role_name == 'owner' %>
        <%= link_to 'My Job Listings', job_listings_path %>
      <% end %>
      <%= button_to 'Log Out', destroy_user_session_path, method: :delete, data: { confirm: 'Are you sure you want to log out?' } %>
    <% else %>
      <%= link_to 'Sign In', new_user_session_path %> |
      <%= link_to 'Sign Up', new_user_registration_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
